* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(204, 43%, 93%);
  font-family: "Karla", sans-serif;
}

.wrapper {
  width: 60%;
  display: grid;
  margin: 6% auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(100px, auto);
}

.top {
  grid-column: 1/3;
  background-color: white;
  padding: 40px 40px;
  line-height: 2;
}

h1 {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
}

.top h2 {
  color: hsl(71, 73%, 54%);
  font-weight: 700;
}

.top p {
  color: hsl(218, 22%, 67%);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

.bottom {
  grid-column: 1/3;
  display: flex;
}

.bottom .left {
  background-color: hsl(179, 62%, 43%);
  padding: 30px;
  flex: 1;
  align-items: center;
  line-height: 1.5;
}

.left h2 {
  color: hsl(204, 43%, 93%);
  padding: 8px;
  font-size: 25px;
}

.left p span {
  font-size: 40px;
  font-weight: 700;
  color: hsl(204, 43%, 93%);
  margin-right: 10px;
}

.left p {
  color: hsl(218, 22%, 87%);
  padding: 8px;
}

.left h3 {
  color: hsl(218, 22%, 90%);
  padding: 8px;
  letter-spacing: 0.5px;
}

.left button {
  background-color: hsl(71, 73%, 54%);
  border: none;
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 18px;
  color: hsl(204, 43%, 93%);
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  outline: none;
}

.bottom .right {
  background-color: hsl(179, 62%, 48%);
  padding: 30px;
  flex: 1;
}

.right h2 {
  color: hsl(204, 43%, 93%);
  padding: 8px;
  font-size: 25px;
}
.right ul {
  margin-top: 10px;
}
.right li {
  list-style: none;
  color: hsl(204, 43%, 90%);
  padding: 3px 8px;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 850px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, auto);
  }

  .top,
  .bottom {
    grid-column: 1;
  }

  .bottom {
    display: block;
  }
}

@media screen and (max-width: 660px) {
  .wrapper {
    width: 70%;
  }
  .top {
    line-height: 1.5;
  }
  .top p {
    font-size: 15px;
    line-height: 2;
  }
}

@media screen and (max-width: 380px) {
  .wrapper {
    width: 90%;
  }
  .top {
    line-height: 1.2;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 22px;
  }
  .top p {
    margin-top: 8px;
  }
}
